*{
    margin: 0px;
    padding: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
    padding-top: 8.5rem;
}

.dropdown-item:hover{
background-color: wheat;
}

a{
    text-decoration: none;
}

.bg-custom{
    background-color: rgb(14, 14, 70);
    opacity: 0.9;
}

.nav-link:hover{
  color: orangered;
  text-decoration: line-through;
}


/* Dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Smooth hover behavior */
.dropdown-menu {
  display: none;
  transition: all 0.3s ease;
}
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

 #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  }

  .about-img-me{
    border: 1rem solid navy;
    animation: about-img-me 3s steps(4) 2s infinite
}

@keyframes about-img-me  {
    0%{
        border-color:orangered ;
    }
      20%{
         border-color:darkblue ;
    }
      40%{
         border-color:palevioletred ;
    }
      60%{
         border-color:purple ;
    }
      80%{
         border-color:peru ;
    }
      100%{
         border-color:white ;
    }
}

.bg-foot-custom{
      background-color: rgb(14, 14, 70);

}

.footer{
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.footer:hover{
  font-weight: bolder;
  color: orangered;
}

.copy-foot{
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.copy-foot:hover{
color: orange;
}

.technology{
  box-shadow: 0px 0px 200px red;
}

/* fade animate */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}